.custom-calendar-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-calendar {
  display: flex;
  width: 60%;
  height: 70vh;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  border-top-left-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.custom-date-picker {
  padding: 20px;
  background-color: rgba(235, 235, 240, 1);
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 2%;
}

.custom-calendar-container .custom-calendar .custom-timeslots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;
  width: 50%;
}

.custom-timeslots {
  border-top-right-radius: 2%;
  width: 100%;
  overflow-y: auto;
  height: 100%;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding-top: 100px;
  padding-bottom: 10px;
}

.timeslot {
  color: rgba(55, 135, 96, 1);
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: white;
  border: 1px solid rgba(55, 135, 96, 1);
  width: 70%;
  padding-right: 20px;
  padding: 10px;
  border-radius: 10px;
  gap: 130px;
  font-weight: bold;
}

.uncheck {
  display: none;
}

.timeslot:hover {
  cursor: pointer;
  background: rgba(55, 135, 96, 1);
  color: white;
  transition: 0.2s ease-in-out;
}

.calender-footer {
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(55, 135, 96, 1);
  color: white;
  width: 60%;
  padding: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.calender-footer .show {
  display: flex;
}
.calender-footer .hide {
  visibility: hidden;
}

.calender-footer button {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  color: #3a8960;
}

.timeslot.selected {
  background-color: rgba(55, 135, 96, 1);
  color: white;
}

.custom-timeslots::-webkit-scrollbar {
  width: 8px;
}

.custom-timeslots::-webkit-scrollbar-thumb {
  background-color: rgba(55, 135, 96, 1);
  border-radius: 4px;
}

.custom-timeslots::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.custom-timeslots::-webkit-scrollbar-thumb:hover {
  background-color: #3a8960;
}

.react-calendar {
  width: 100%;
  max-width: 400px;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.react-calendar__tile {
  padding: 15px;
  font-weight: bold;
}

.react-calendar__month-view__weekdays abbr {
  color: rgba(55, 135, 96, 1);
  font-weight: 700px;
  text-decoration: none;
}

.react-calendar__tile--active {
  background-color: rgba(55, 135, 96, 1);
  color: #fff;
  border-radius: 100%;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: rgba(55, 135, 96, 1);
}

.conferm {
  position: fixed;
  inset: 0;
  background-color: rgba(56, 59, 54, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: black;
  background-color: white;
  padding: 20px;
  border-radius: 2%;
  height: 30%;
  width: 25%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cross {
  display: flex;
  justify-content: end;
  align-items: start;
  width: 100%;
  cursor: pointer;
  font-size: 30px;
  color: #3a8960;
}

.cross:hover {
  color: red;
}
